<!-- pezzo di pagina fottuto alla pagina ufficiale europea per il controllo dell'IVA -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verifica partita IVA</title>
</head>
<body>
<form id="vowRequest" name="vowRequestForm" action="/IVA/check" method="post">
    <fieldset>
        <table class="noBorder" width="100%">
            <tr>
                <td class="labelStyle">
                    <label for="memberStateCode">Stato membro</label>
                </td>
                <td class="formStyle">
                    <select id="countryCombobox" name="memberStateCode" onchange="generateForm(this);">
                        <option value="">--</option>
                        <option value="AT">AT-Austria</option>
                        <option value="BE">BE-Belgio</option>
                        <option value="BG">BG-Bulgaria</option>
                        <option value="CY">CY-Cipro</option>
                        <option value="CZ">CZ-Repubblica ceca</option>
                        <option value="DE">DE-Germania</option>
                        <option value="DK">DK-Danimarca</option>
                        <option value="EE">EE-Estonia</option>
                        <option value="EL">EL-Grecia</option>
                        <option value="ES">ES-Spagna</option>
                        <option value="FI">FI-Finlandia</option>
                        <option value="FR">FR-Francia</option>
                        <option value="GB">GB-Regno Unito</option>
                        <option value="HR">HR-Croazia</option>
                        <option value="HU">HU-Ungheria</option>
                        <option value="IE">IE-Irlanda</option>
                        <option value="IT">IT-Italia</option>
                        <option value="LT">LT-Lituania</option>
                        <option value="LU">LU-Lussemburgo</option>
                        <option value="LV">LV-Lettonia</option>
                        <option value="MT">MT-Malta</option>
                        <option value="NL">NL-Paesi Bassi</option>
                        <option value="PL">PL-Polonia</option>
                        <option value="PT">PT-Portogallo</option>
                        <option value="RO">RO-Romania</option>
                        <option value="SE">SE-Svezia</option>
                        <option value="SI">SI-Slovenia</option>
                        <option value="SK">SK-Slovacchia</option>
                    </select>
                </td>
                <td width="40%">

                </td>
            </tr>
            <tr>
                <td class="labelStyle">
                    <label for="number">Partita IVA</label>
                </td>
                <td class="formStyle">
                    <input id="number" name="number" type="text" value=""/>
                </td>
                <td width="40%">

                </td>
            </tr>

            <tr>
                <td class="labelStyle"></td>
                <td class="formStyle">
                    <input type="hidden" id="action" value="check" name="action" />
                    <input type="submit" id="submit" name="check" value="Verificare"/>
                </td>
                <td class="errorFormStyle">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>